html * {
/*
font-family: 'Lato', sans-serif;    
font-family: 'Lora', serif;    
font-family: 'Montserrat', sans-serif;
*/
  font-family: 'Vollkorn', serif;       
}

body {
  padding-top: 50px;
  padding-bottom: 200px;
}

.starter-template {
  padding: 40px 15px;
  text-align: left;
}

.pub-link {
  font-size: 1.3em
}

.pub-names {
  font-weight: bold
}